# Dependencies
node_modules

# Build output
dist
build
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.swp
*.swo

# Environment
.env
.env.local

# Test coverage
coverage
.nyc_output
